.contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.contact p {
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.btn {
	display: block;
	cursor: pointer;

	background-color: #ff4d4f;
	color: white;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
}

.btn:hover {
	background-color: #ff7875;
}
